body,
html {
  height: 100%;
  margin: 0;
}

#app {
  display: contents;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 56px;
  padding-bottom: 56px;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

footer {
  height: 56px;
}
